/* !-------------------------------------------------------------------
MOMENTANEAL STYLES */

#jumbodron [class*='col'],
#about [class*='col']{
    background-color: blue;
}

#contact [class*='col'],
#portfolio [class*='col']{
    background-color: blueviolet;
}

footer [class*='col']{
    background-color: aqua;
}









/* *-------------------------------------------------------------------
GENERAL STYLE */

/* * ROOT */
:root{
    --header-bg-color: #2c3e50;
    --jumbodron-bg-color: #1abc9c;
    --footer-utilities-bg-color:#3a546d;
    --secondary-text-color: white;
    --main-text-color:black;
}



/* * TAG HTML */



/* * CLASSES */

/* ? COLORS */
.my-bg-color-green{
    background-color: var(--jumbodron-bg-color);
}





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */
header{
    color: var(--secondary-text-color);
    background-color: var(--header-bg-color);
}

header nav .my-nav-link,
header a{
    color: var(--secondary-text-color);
}

header nav button span{
    color: white;
}


/* * MAIN */

/* ? JUMBOTRON */
#jumbotron{
    color: var(--secondary-text-color);
}

#jumbotron .my-title{
    font-size: 2.5rem;
}



/* * FOOTER */
#utilities{
    background-color: var(--footer-utilities-bg-color);
}

#copyright{
    background-color: var(--header-bg-color);
}










/* *------------------------------------------------------------------------------------------------------
RESPONSIVENESS */

/* * MD */
@media screen and (min-width:768px){
    /* * GENERAL STYLES */



    /* * SPECIFIC STYLES */

    /* ? HEADER */
    header .my-logo{
        font-size: 1.7rem !important;
    }


    /* ? MAIN */
    #jumbotron .my-title{
        font-size: 3rem;
    }
}





/* * LG */
@media screen and (min-width:992px){
    /* * GENERAL STYLES */



    /* * SPECIFIC STYLES */
    
    /* ? MAIN */
    #jumbotron .my-title{
        font-size: 4rem;
    }
}