/* !-------------------------------------------------------------------
MOMENTANEAL STYLES */
header .logo-container,
header nav{
    background-color: red !important;
}

#jumbodron [class*='col'],
#about [class*='col']{
    background-color: blue;
}

#contact [class*='col'],
#portfolio [class*='col']{
    background-color: blueviolet;
}

footer [class*='col']{
    background-color: aqua;
}









/* *-------------------------------------------------------------------
GENERAL STYLE */

/* * ROOT */
:root{
    --header-bg-color: #2c3e50;
    --jumbodron-bg-color: #1abc9c;
    --footer-utilities-bg-color:#3a546d;
}



/* * TAG HTML */



/* * CLASSES */

/* ? COLORS */
.bg-color-green{
    background-color: var(--jumbodron-bg-color);
}





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */
header{
    background-color: var(--header-bg-color);
}



/* * MAIN */



/* * FOOTER */
#utilities{
    background-color: var(--footer-utilities-bg-color);
}

#copyright{
    background-color: var(--header-bg-color);
}