/* !-------------------------------------------------------------------
MOMENTANEAL STYLES */
header .container-md{
    background-color: red !important;
}








/* *-------------------------------------------------------------------
GENERAL STYLE */

/* * ROOT */
:root{
    --header-bg-color: #2c3e50;
}



/* * TAG HTML */



/* * CLASSES */





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */
header{
    background-color: var(--header-bg-color);
}